{:paths ["script"]
 :tasks
 {generate:screen {:task (shell {:dir "scripts"} "bb" "generate_screen.clj")}
  generate:fire-event {:task (shell {:dir "scripts"} "bb" "generate_fire_event.clj")}
  generate:within {:task (shell {:dir "scripts"} "bb" "generate_within.clj")}
  generate {:depends [generate:screen generate:fire-event generate:within]}
  release {:doc "Perform release"
           :task (shell "lein release")}}}
