{:builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn app.core/main}}
        :output-dir "public/js"
        :target :browser}
  :test {:ns-regexp "^app.*-test$"
         :output-to "out/test.js"
         :target :node-test
         :devtools {:preloads [app.test-setup]}}
  :karma {:target :karma
          :ns-regexp "^app.*-test$"
          :output-to "target/karma-test.js"}}
 :dependencies [[reagent "2.0.1"]
                [org.clojars.olecve/react-testing-library-cljs "0.0.20"]]
 :dev-http {3000 "public"}
 :nrepl {:port 3333}
 :source-paths ["src"]}
